__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
*.db
backups/
.vscode/
.idea/
*.swp
*.swo

/static/covers/*
/mimo.exe
/dist/
/build/
*.spec
/android/app/src/main/assets/static/covers/*
/KinoLog.apk
/KinoLog.exe
/kino_log_error.log
